$base: #E6E6E6;
$baseDark: #dbdada;
$baseLight: #ffffff;
$onBase: #1a1a1a;

$primary: #EDE9AA;
$primaryLight: #F4F2CC;
$primaryDark: #E6E088;
$onPrimary: #1a1a1a;

$secondary: #41A5E1;
$secondaryLight: #45ADED;
$secondaryDark: #3A91C7;
$onSecondary: #1a1a1a;

$separator: #c0c0c0;

$error: #b00020;
$onError: #ffffff;

$success: #64CC2D;
$onSuccess: #ffffff;