@import '../../abstract/colors';

.custom-checkbox{
    display: none;
}

.custom-checkbox + label{
    cursor: pointer;
}

.custom-checkbox + label:before{
    background: $baseLight;
    height: 2rem;
    width: 2rem;
    border: 1px solid $onBase;
    content: "";
    display: inline-block;
    vertical-align: middle;
    position: relative;
    transition: all 0.2s ease-in-out;
}

.checkbox--circle + label:before{
    border-radius: 45px;  
}

.custom-checkbox:checked + label:before{
    content: "\2713";
    color: $base;
    border: none;
    border-bottom: 1px solid $baseLight;
    font-weight: 800;
    font-size: 1.5rem;
    text-align: center;
    line-height: 21px;
    background-color: $success;
}