@import "../../abstract/colors";

.task{
    height: 3rem;
    padding: 0 .5rem;
    position: relative;
    display: flex;

    align-items: center;

    // @include box-shadow;
    border-bottom: 1px solid $separator; //Quitar despues

    background-color: $baseLight;

    .form-group{
        position: relative;
        left: -1.5rem;
    }

    
}